<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
  <script src="{{ 'setting.js' | asset_url }}"></script>

<script>{{data}}</script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      let metafields = {{ shop.metafields.whatsApp.Mobile }}

      if (metafields) {
        const data = metafields.map(item => {
          const { _id, name, phone, title, message, notice, url, toggle, shop } = item;
          return {
            id: _id,
            name: name,
            phone: phone,
            title: title,
            message: message,
            notice: notice,
            url: url,
            toggle: toggle,
            shop: shop
          };
        });
        
        data.forEach(item => {
          const container = document.getElementById("dataContainer");

          const div = document.createElement("div");
          div.classList.add("data-item");

          const image = document.createElement("img");
          image.src = `${item.url}`;

          const contentWrapper = document.createElement("div");
          contentWrapper.classList.add("content-wrapper");

          const paragraph = document.createElement("p");
          paragraph.innerHTML = `${item.name}<br>${item.title}`;

          div.appendChild(image);
          div.appendChild(contentWrapper);
          contentWrapper.appendChild(paragraph);

          container.appendChild(div);
        });

      } else {
        console("Data is not Selected")
      }

      document
        .getElementById("whatsappIcon")
        .addEventListener("click", function () {
          document.getElementById("whatsappIcon").style.display = "none";
          document.getElementById("NeedHelp").style.display = "none";
          document.getElementById("crossIcon").style.display = "block";
          document.getElementById("popupMenu").style.display = "block";
        });

      document
        .getElementById("crossIcon")
        .addEventListener("click", function () {
          document.getElementById("whatsappIcon").style.display = "block";
          document.getElementById("NeedHelp").style.display = "block";
          document.getElementById("crossIcon").style.display = "none";
          document.getElementById("popupMenu").style.display = "none";
        });

      document.getElementById("dataContainer").addEventListener("click", function() {
        const phoneNumber = '{{ shop.metafields.whatsApp.Mobile.phone }}';
        const whatsappWebUrl = `https://wa.me/${phoneNumber}`;
        window.open(whatsappWebUrl);
      });

    });

    function myFunction() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }  
  </script>

</head>

<body>
{% assign data1 = data %} {% for item in data1 %} 
<p>Desktop URL: {{ item.desktopURL }}</p>
 <p>Mobile URL: {{ item.mobileURL }}</p>
  <p>Target: {{ item.target }}</p>
   {% endfor %}
    {{ 'setting.js' | asset_url | script_tag }}

<div>

{% assign position = block.settings.position | downcase %}
{% if position == 'right' %}
  <div class="whatsapp-icon" id="whatsappIcon" style="background-color: {{ block.settings.background }}; position: fixed; right: {{ block.settings.right_space }}rem;">
{% else %}
  <div class="whatsapp-icon" id="whatsappIcon" style="background-color: {{ block.settings.background }}; position: fixed; left: {{ block.settings.left_space }}rem;">
{% endif %}
  <i class="fa-brands fa-whatsapp" style="color:{{ block.settings.colour }}"></i>
  </div>
</div>

{% assign position = block.settings.position | downcase %}
{% if position == 'right' %}
  <div class="cross-icon" id="crossIcon" style="display: none; background-color: {{ block.settings.background }}; position: fixed; right: {{ block.settings.right_space }}rem;">
{% else %}
  <div class="cross-icon" id="crossIcon" style="display: none; background-color: {{ block.settings.background }}; position: fixed; left: {{ block.settings.left_space }}rem;">
{% endif %}
  <i class="fa-solid fa-xmark" style="color:{{ block.settings.colour }}"></i>
  </div>
</div>


<div class="help" id="NeedHelp">
  {{ block.settings.widget_label_text }}
</div>

{% assign position = block.settings.position | downcase %}

{% if position == 'right' %}
  <div class="popup-menu" id="popupMenu" style="right: {{ block.settings.right_space }}rem;">
{% else %}
  <div class="popup-menu" id="popupMenu" style="left: {{ block.settings.left_space }}rem;">
{% endif %}
  <div class="headerr" style="background-color: {{ block.settings.background }}">
    <div class="icon">
      <i class="fa-brands fa-whatsapp"></i>
    </div>
    <div>
      <div class="header_1">
        {{ block.settings.widget_text }}
      </div>
      <div class="header_2">
        {{ block.settings.description }}
      </div>
    </div>
  </div>

  <div class="bottom-header">
    <div class="bottom-header_1">
      {{ block.settings.response_time_text }}
    </div>
    <div class="bottom-header_2">
      <div class="bottom-header_3" id="dataContainer"></div>
    </div>
  </div>
</div>


</div>
</body>

{% schema %}
  {
    "name": "Chat App",
    "target": "head",
    "settings": [ 
      { "type": "color", "id": "colour", "label": "Text Colour", "default": "#ffffff" },
      { "type": "color", "id": "background", "label": "Background Colour", "default": "#008000" },
      { "type": "text", "id": "widget_text", "label": "Widget Text", "default": "Start a Conversation" },
      { "type": "text", "id": "widget_label_text", "label": "Widget Label Text", "default": "Need Help? Chat with us" },
      { "type": "textarea", "id": "description", "label": "Description", "default": "Hi! Click one of our member below to chat on WhatsApp" },
      { "type": "textarea", "id": "response_time_text", "label": "Response Time Text", "default": "Hi! Click one of our member below to chat on WhatsApp" },
      { "type": "select", "id": "position", "label": "Position",  "options": [{"value": "right", "label": "Right"}, {"value": "left","label": "Left"}], "default":"right" },
      { "type": "range", "id": "right_space", "min": 1, "max": 100, "step": 1, "unit": "rem", "label": "Right Distance", "default": 5},
      { "type": "range", "id": "left_space", "min": 1, "max": 100, "step": 1, "unit": "rem", "label": "Left Distance", "default": 5}
    ]
  }
{% endschema %}
